* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(192, 192, 192);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.App {
  border: 1px solid red;
  width: 800px;
  height: 100vh;
  margin: 0 auto;
}
.header_list {
  border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  li {
    margin: 10px;
    a {
      font-size: 20px;
     
    }
  }
}

.average_num {
  border: 1px solid red;
  text-align: center;
  font-size: 30px;
  padding: 50px;
}

.rating_text {
  text-align: center;
  margin-top: 50px;
  .single_rate {
    box-shadow: 0px 0px 10px 5px grey;
    width: 80%;
    margin:  0 auto;
    padding: 20px;
   

  }
}

.delete_rate:hover{
  transform: scale(1.7);
  color: white;
}